<p>This is the partial for view 1.</p>
<p>{{hello}}</p>

<h2>Jobs table</h2>
<table>
    <tr>
        <th>Host</th>
        <th>Port</th>
        <th>Job name</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Status</th>
    </tr>

    <tr ng-repeat="(key, desc) in jobs">

        <td>{{ desc.host }}</td>
        <td>{{ desc.port }}</td>
        <td>{{ desc.jobName }}</td>
        <td>{{ desc.startTime }}</td>
        <td>{{ desc.endTime }}</td>
        <td>{{ desc.status }}</td>
    </tr>
</table>


<h2>Debug</h2>
<li ng-repeat="(key, desc) in jobs">
    {{key}}::{{desc}}
</li>
</ul>