<p>This is the partial for view 1.</p>
<p>{{hello}}</p>

<h2>Targets</h2>
<ul class="phones">
    <li ng-repeat="target in targets">
        {{target.host}}
    </li>
</ul>
<!--
<h2>Responses</h2>
<ul class="phones">
    <li ng-repeat="response in responses">
        {{response}}
    </li>
</ul>

<h2>Headers</h2>
<ul class="phones">
    <li ng-repeat="header in headers">
        {{header}}
    </li>
</ul>
-->
<h2>Jobs</h2>
<ul class="phones">
    <li ng-repeat="(key, desc) in jobs">
        {{key}}::{{desc}}
    </li>
</ul>